:root {
  /*Typography*/
  --heading1: 48px;
  --heading2: 36px;
  --heading3: 24px;
  --heading4: 16px;
  --textSize: 14px;
  --navTextSize: 18px;
  --textColor1: rgb(19, 18, 18);
  --textColor2: rgb(253, 249, 249);
  --backgroundColor1: rgb(241, 241, 241);
  --backgroundColor2: #000;
  --primaryColor: #5656f8;
  --secondaryColor: #d42626;

  /*Header Typography*/
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --topLinksColor: var(--textColor2);
  --topLinkHoverColor: var(--primaryColor);
  --topLinkSize: 13px;
}
