body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-display {
  display: flex;
  align-items: center;
}

.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.mobile-adjust {
  width: 100%;
}

@media (min-width: 1200px) {
  .hide-mobile {
    display: block;
  }
  .hide-desktop {
    display: none;
  }

  .mobile-adjust {
    width: unset;
  }
}
